### Requirements

In [1]:
import pandas as pd

import numpy as np

## Exercises for lecture 8

**Task a)** Create a Pandas Series that consists of the names *Gerty, Rosalyn, Barbara, Rita, Gertrude, Christiane, Linda, Francoise, Elizabeth, Carolyn, May-Britt, Tu.* (you can use a Python list for this)

In [2]:
pd.Series(["Gerty", "Rosalyn", "Barbara", "Rita", 
           "Gertrude", "Christiane", "Linda", 
           "Francoise", "Elizabeth", "Carolyn", "May-Britt", 
           "Tu"])

0          Gerty
1        Rosalyn
2        Barbara
3           Rita
4       Gertrude
5     Christiane
6          Linda
7      Francoise
8      Elizabeth
9        Carolyn
10     May-Britt
11            Tu
dtype: object

**Task b)** Create a Pandas Series that consists of the numbers 1 to 30. (you can use np.arange for this)

In [3]:
pd.Series(np.arange(1, 31))

0      1
1      2
2      3
3      4
4      5
5      6
6      7
7      8
8      9
9     10
10    11
11    12
12    13
13    14
14    15
15    16
16    17
17    18
18    19
19    20
20    21
21    22
22    23
23    24
24    25
25    26
26    27
27    28
28    29
29    30
dtype: int64

**Task c)** Create the following table as Pandas DataFrame


|  | population |  % of world |  
|----------|----------|----------|
| China | 1411778724 | 	17.9 |
| India | 1378774335 | 	17.5 |
| United States | 331927360 | 4.21 |
| Indonesia | 271350000 | 3.44 |
| Pakistan | 225200000 | 2.86 |

*Information taken from:* https://en.wikipedia.org/wiki/List_of_countries_and_dependencies_by_population

In [4]:
data = [[1411778724,17.9], [1378774335, 17.5], 
          [331927360, 4.21], [271350000, 3.44], 
          [225200000, 2.86]]


s = pd.DataFrame(data,columns=["population", "% of world"],
            index = ["China", "India", "United States",
                     "Indonesia", "Pakistan"])

s

               population  % of world
China          1411778724       17.90
India          1378774335       17.50
United States   331927360        4.21
Indonesia       271350000        3.44
Pakistan        225200000        2.86

**Task d)** Regarding the DataFrame of the previous task, check if the values in column "population" are correctly saved as integers (data type: int...) and if the values in the column "% of world" are correctly saved as floats (data type: float...).

In [5]:
s['population'].dtype, s['% of world'].dtype

(dtype('int64'), dtype('float64'))

**The next tasks will all deal with the given DataFrame *df***

In [6]:
# make sure to have the same random numbers for every iteration
np.random.seed(42) 

d = np.random.rand(1000,10)
c = ['a','b','c','d','e','f','g','h','i','j']

df = pd.DataFrame(d, columns=c)

**Task e)** Print out the columns *b, e* and *f* from the first 20 rows. You can use a list of labels for indexing columns!

In [7]:
df[:20][['b','e','f']]

           b         e         f
0   0.950714  0.156019  0.155995
1   0.969910  0.181825  0.183405
2   0.139494  0.456070  0.785176
3   0.170524  0.965632  0.808397
4   0.495177  0.258780  0.662522
5   0.775133  0.597900  0.921874
6   0.271349  0.280935  0.542696
7   0.198716  0.706857  0.729007
8   0.623298  0.310982  0.325183
9   0.713245  0.770967  0.493796
10  0.636410  0.907566  0.249292
11  0.161221  0.633404  0.871461
12  0.896091  0.227935  0.427108
13  0.222108  0.942910  0.323203
14  0.251782  0.284840  0.036887
15  0.239562  0.985650  0.242055
16  0.632306  0.090290  0.835302
17  0.016588  0.645173  0.174366
18  0.113474  0.257942  0.659984
19  0.897216  0.339030  0.349210

**Task f)** Set the values of column *d* in rows with index 10 and 17 to zero.

In [8]:
row_indexer = [10,17]
col_indexer = ['d']

df.loc[row_indexer,col_indexer] = 0

**Task g)** Print out all rows whose value in column *d* is less than *0.01*.

In [9]:
cond = df['d']<0.01

df.loc[cond]

,a,b,c,d,e,f,g,h,i,j
10,0.031429,0.636410,0.314356,0.000000,0.907566,0.249292,0.410383,0.755551,0.228798,0.076980
17,0.677564,0.016588,0.512093,0.000000,0.645173,0.174366,0.690938,0.386735,0.936730,0.137521
128,0.618156,0.702465,0.559649,0.009771,0.326461,0.517712,0.087866,0.350627,0.033203,0.078578
148,0.817834,0.120209,0.544489,0.005759,0.324586,0.366462,0.396173,0.695467,0.388558,0.448694
331,0.722738,0.656729,0.708766,0.008364,0.217667,0.661684,0.483989,0.005313,0.804495,0.772810
450,0.599299,0.513708,0.288185,0.006464,0.496239,0.285626,0.734608,0.023946,0.584828,0.941474
538,0.224383,0.504503,0.260849,0.009087,0.648298,0.511094,0.445518,0.966969,0.571199,0.863432
650,0.201175,0.080063,0.474453,0.009969,0.084766,0.807626,0.771473,0.915139,0.854515,0.683176
653,0.554620,0.901631,0.926193,0.009098,0.075412,0.250359,0.669315,0.888272,0.459942,0.606973
655,0.334105,0.521831,0.585654,0.008496,0.761006,0.713014,0.366286,0.052936,0.754933,0.955175
695,0.752727,0.473773,0.446772,0.007097,0.819398,0.359825,0.540766,0.677301,0.702630,0.955980
726,0.256292,0.190413,0.669953,0.000402,0.805891,0.079250,0.191490,0.386236,0.484859,0.354995
887,0.917099,0.133975,0.671512,0.004360,0.924651,0.112504,0.094884,0.333008,0.373566,0.214300
993,0.823226,0.103042,0.227448,0.003122,0.303510,0.108607,0.472793,0.677127,0.874505,0.749217